In [3]:
import pandas as pd
df = pd.read_csv('../idioms.txt', header=None, names=["idiom"])

                                  idiom
0                   get to [pron] point
1    bring (somebody) to ([pron]) knees
2                   make up [pron] mind
3                         build bridges
4                        raise eyebrows
..                                  ...
712                         in the pink
713              not in a million years
714                             you bet
715                    on the same page
716                        chicken feed

[717 rows x 1 columns]